@import url('https://fonts.googleapis.com/css?family=Rock+Salt&display=swap');

.brand-logo {
    font-family: 'Rock Salt', cursive;
}

h1 {
    color: red;
}

#repo_card_image {
    height: 600px;
    width: 100px;
}